.directory_main {
    height: 90vh;
    display: flex;
    
}

.left-frame {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-frame {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

