.App {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
}

.light-mode {
  background: lightblue !important;
  color: navy !important;
}

.dark-mode {
  background: navy !important;
  color: whitesmoke !important;
}

.lostpage {
  height: 90vh;
  width: 100%;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}